.CaiApp .CaiAppInput {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;

  padding: 1rem;
  color: grey;
  background: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);

  .characterLimit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 0 0;
    font-size: 12px;
    color: #f44336;
  }

  ::placeholder {
    color: #bcbcbc;
    opacity: 1;
  }
}
