####################################################################
# WhiteSource Unified-Agent configuration file for NPM
# GENERAL SCAN MODE: Package Managers only
####################################################################
 
# !!! Important for WhiteSource "DIST - *" Products:
# Please set 
#   checkPolicies=false
#   forceCheckAllDependencies=false
# since Policy checks are not applicable for Security scans and also 
# not suitable for DIST category. CheckPolicies just cover IP scan 
# related license checks for SAP hosted cloud products only ("SHC - *").
checkPolicies=false
forceCheckAllDependencies=false
 
# forceUpdate parameter is important and need to be true
forceUpdate=true
 
failErrorLevel=ALL
 
# Used only if 'forceUpdate' is set to true.
# If the flag is true, the Unified Agent exit code will be the result of the policy check.
# If the flag is false, the Unified Agent exit code will be the result of the scan.
forceUpdate.failBuildOnPolicyViolation=false
# offline parameter is important and need to be false
offline=false
 
# ignoreSourceFiles parameter is important and need to be true
ignoreSourceFiles=true
# resolveAllDependencies parameter is important and need to be false
resolveAllDependencies=false
#wss.connectionTimeoutMinutes=60                                                      
# URL to your WhiteSource server.
wss.url=https://sap.whitesourcesoftware.com/agent
 
 
# resolveDependencies parameter is important and need to be true
npm.resolveDependencies=true
# ignoreSourceFiles parameter is important and need to be true
npm.ignoreSourceFiles=true
 
# the folowing paramter "ignoreNpmLsErrors" and "failOnNpmLsErrors" are a little bit 
# tricky. So if you aren't sure what you do, keep the default.
npm.ignoreNpmLsErrors=true
npm.failOnNpmLsErrors=false
 
# conducts the npm prestep to resolve dependencies 
npm.runPreStep=true
 
npm.resolveLockFile=true 
npm.projectNameFromDependencyFile=true 
#npm.ignoreScripts=true
#npm.yarnProject=true 
#npm.accessToken= 
#npm.identifyByNameAndVersion=true 
#npm.yarn.frozenLockfile=true 
#npm.resolveMainPackageJsonOnly=true 
#npm.removeDuplicateDependencies=false 
#npm.resolveAdditionalDependencies=true 
#npm.resolveGlobalPackages=true 
 
 
 
##################################
# Organization tokens:
##################################
# ! In case of PIPER, apiKey may not be used in this configuration, 
#   but set in configuration of piper. 
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
apiKey=36241cee5b5740f6afedef9e1a2098226415205df69143fd8581c27faced32a4
 
# userKey is required if WhiteSource administrator has enabled "Enforce user level access" option.
# ! In case of PIPER, apiKey may not be used in this configuration, 
#   but set in configuration of piper. 
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
#userKey=
   
projectName=ml-cai-webchat
projectVersion=
projectToken=
  
productName=
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com
   
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.dummyFileExtension
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar **lsp_json_component.git/master/ls.json/server/node_modules/** **lsp_xml_component.git/master/ls.xml/server/node_modules/** **node_modules/**
  
case.sensitive.glob=false
followSymbolicLinks=true
