.RecastApp .Button {
  padding: 0.5rem;

  cursor: pointer;
  text-align: center;

  font-weight: bold;
  color: cornflowerblue;
}

.RecastApp {
  .Button + .Button {
    border-top: 1px solid lightgrey;
  }
}

.RecastApp .Button-Link {
  @extend .Button;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: none;
  }
}
