.RecastApp .RecastAppButton {
  padding: 0.5rem;

  cursor: pointer;
  text-align: center;

  font-weight: bold;
  color: cornflowerblue;
}

.RecastApp {
  .RecastAppButton + .RecastAppButton {
    border-top: 1px solid lightgrey;
  }
}

.RecastApp .RecastAppButton-Link {
  @extend .RecastAppButton;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: none;
  }
}
