.RecastApp .RecastAppInput, .CaiApp .CaiAppInput {
  .RecastSendButtonContainer, .CaiSendButtonContainer {
    cursor: pointer;
    display: flex;
  }

  .RecastSendButton, .CaiSendButton {
    width: 22px;
    height: 22px;
  }
}
