.RecastApp .RecastAppInput, .CaiApp .CaiAppInput {
  .RecastAttachmentContainer, .CaiAttachmentContainer {
    cursor: pointer;
    display: flex;
  }

  .RecastAttachmentButton, .CaiAttachmentButton {
    width: 22px;
    height: 22px;
  }
}
