.RecastApp .RecastAppChat {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;

  width: 370px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);

  &--content {
    position: relative;
  }

  &--slogan {
    padding: 0.2rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    color: lightgrey;

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;

    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &--slogan--hidden {
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
}
