.RecastApp .Header {
  display: flex;
  align-items: center;
  border-radius: 3px 3px 0 0;

  &--logo {
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  &--title {
    font-weight: bold;
    flex-grow: 1;
  }

  &--btn {
    cursor: pointer;
    margin: 1rem;
    width: 15px;
    height: 15px;
  }
}
