.CaiApp {
  z-index: 2147483647;
}

.CaiApp *,
.CaiApp *:after,
.CaiApp *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.CaiApp a {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.CaiApp img,
.CaiApp svg {
  max-width: 100%;
  display: block;
}
