.RecastApp .Message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0.5rem;

  &--logo {
    width: 35px;
    height: 35px;
    margin: 0 0.5rem 0 0;
    align-self: flex-end;
  }

  &.bot {
    flex-direction: row-reverse;

    .Message--logo {
      margin: 0 0 0 0.5rem !important;
    }
  }

  /*
   * Slider
   */

  .Slider {
    max-width: 300px;

    .slick-prev:before {
      content: '<' !important;
      width: 17px;
      text-align: center;
      font-weight: bold;
      font-size: medium;

      color: black;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }

    .slick-next:before {
      content: '>' !important;
      width: 17px;
      text-align: center;
      font-weight: bold;
      font-size: medium;

      color: black;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }
  }

  /*
   * Text
   */

  .Text {
    max-width: 270px;
    padding: 0.5rem;
    border-radius: 3px;

    word-break: break-word;

    color: grey;
    background-color: lightgrey;

    &.bot {
      color: white;
      background-color: #E05A47;
    }
  }

  /*
   * Picture
   */

  .Picture {
    width: 270px;
    max-height: 270px;

    border-radius: 3px;
    border: 1px solid lightgrey;
  }

  /*
   * QuickReplies
   */

  .QuickReplies {
    display: flex;
    flex-direction: column;

    .Text {
      align-self: flex-end;
    }

    &--slider {
      margin-top: 0.5rem;
      max-width: 290px;
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: center;

      max-height: 30px;
      padding: 0.5rem;
      margin-left: 0.5rem;

      cursor: pointer;
      font-weight: bold;
      border: 1px solid lightgrey;
      border-radius: 25px;
    }
  }

  /*
   * Card
   */

  .Card {
    width: 270px;

    border: 1px solid lightgrey;
    border-radius: 3px;

    &--img {
      width: 270px;
      max-height: 270px;

      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &--text {
      padding: 0.4rem;

      &-title {
        font-weight: bold;
      }

      &-subtitle {
        font-size: 14px;
        font-weight: lighter;
      }
    }

  }

  /*
   * List
   */

  .List {
    border: 1px solid lightgrey;
    border-radius: 3px;

    .ListElement {
      display: flex;
      width: 290px;

      &--img {
        width: 80px;
        height: 80px;

        padding: 0.2rem;
        border-right: 1px solid lightgrey;
      }

      &--container {
        display: flex;
        flex-direction: column;

        width: 100%;
        padding: 0.2rem;
      }

      &--title {
        font-weight: bold;
      }

      &--subtitle {
        font-size: 14px;
        font-weight: lighter;
        flex-grow: 1;
      }

      &--button {
        align-self: flex-end;

        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        color: cornflowerblue;
      }
    }

    .ListElement + .ListElement {
      border-top: 1px solid lightgrey;
    }
  }

}
