.RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
  height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  &--message-container {
    flex-grow: 1;
    padding-bottom: 25px;
  }
}

@media only screen and (min-height: 475px) and (max-height: 575px) {
  .RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
    height: 360px;
  }
}

@media only screen and (min-height: 575px) {
  .RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
    height: 460px;
  }
  .CaiAppChatMobile .RecastAppLive{
    height: 100%;
  }
}
