.RecastApp .RecastAppLive {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  &--message-container {
    flex-grow: 1;
    padding-bottom: 25px;
  }
}


@media only screen and (min-width: 450px) {
  .RecastApp .RecastAppLive {
    height: 460px;
  }
}
