.RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  &--message-container {
    flex-grow: 1;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 900px) {
  .RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
    height: 800px;
  }
}
